.App {
  text-align: center;
}


button {
  background-color: #71b8f3;
  border-color: blue;
  border-radius: 25px;
  padding: 5px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #f3b671; /* Green */
  border-color: orange;
}